
$paragraphs-color:#7E8085;
$background-color: rgb(255, 255, 255);
$primary: #4399CE;
$title: #23BCBA;
$sub-title: #5A5A5A;
$white: #fff;
$grey-light: #ededed;
$main-green: #37D7A5;
$bg-transperant: rgba(255, 255, 255, 0.9);
// Update Bulma's global variables
$gap: 130px;
$navbar-breakpoint: 1px;
// Disable the fullhd breakpoint
$fullhd-enabled: false;
$tablet: 768px;
$footer-padding: 3rem 1.5rem 2rem;

@import "../node_modules/bulma-rtl/bulma-rtl.sass";
@import "../node_modules/bulma-rtl/sass/utilities/_all.sass";
@import "../node_modules/bulma-rtl/sass/base/_all.sass";
@import "../node_modules/bulma-rtl/sass/elements/_all.sass";
@import "../node_modules/bulma-rtl/sass/components/_all.sass";
@import "../node_modules/bulma-rtl/sass/layout/_all.sass";
@import "../node_modules/bulma-rtl/sass/grid/_all.sass";

$navbar-breakpoint: 1px;

@import "modules/navbar";
@import "modules/ourStory";
@import "modules/ourServices";
@import "modules/base";
@import "modules/steps";
@import "modules/ourProducts";
@import "modules/newsletter";
@import "modules/footer";

//RTL Fixes
@import "modules/rtl/steps";


