.main{
    //background-image: url("src/img/slider.png");
    height: 480px;
}
.navbar {
    min-height: 6.25rem;
    background: $bg-transperant;
    .navbar-item img {
        max-height: 2.75rem;
    }
    .navbar-brand, .navbar-burger { // To Center Items inside the container
        height: 100;
        color:$primary;
    }

}
